.container{
    width: 100%;
    background-color: #0f1c2a;
    border-radius: 25px;
}
.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    gap: 20px;
   width: 100%;

}
.find input,select,button{
    color: aliceblue;
    border: 1px solid #CCA876;
    background: transparent;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    font-size: 20px; 
    margin-top: 5px;
}
.services button{
    text-align: center;
    background-color: #CCA876;
}
.option{
    background-color: #0f1c2a;
    color: aliceblue;
}
@media(max-width:1200px){
    .services{
        gap: 10px;
    }
    .find input,select,button{
        width: 250px;
    }
}
@media(max-width:996px){
    .services{
        gap: 10px;
    }
    .find input,select,button{
        width: 200px;
    }
}
@media (max-width:900px){
    .services{
        flex-direction: column;
    }
    .find input,select,button{
        width: 100%;
    }
    
}