<div class="container d-flex">
  <div class="services d-flex">
    
    <div class="find mb-3">
      <select class="" name="" id="">
        <option class="option" value="">Select Area</option>
        <option class="option" value="">America</option>
        <option class="option" value="">Spain</option>
        <option class="option" value="">Dubai</option>
        <option class="option" value="">London</option>
      </select>
    </div>
    
    <div class="find mb-3">
      
      <input class="" type="text" placeholder="Parlor Name"/> 
    </div>
    <div class="find mb-3">
      <button class="search">Search</button>
    </div>
  </div>
   
  </div>
  