.navbar{
    display: flex;
    background-color: #0f1c2a;
}
.navbar-toggler{
    background-color: #CCA876;
    padding: 5px;
}
.navbar-toggler-icon{
    color: #0f1c2a;
}
.nav-item .nav-link{
   color: white;
   font-size: 18px;
   font-weight: 600;
}
.nav-item .nav-link:hover{
    color: #CCA876;
}

.navbar-nav{
    margin:auto ;
    gap: 50px;
}
.img{
    width: 75px;
    height: 75px;
}
.btn{
    background-color: #CCA876;
    font-size: 20px;
    color: white;
    width: 100px;
    text-align: center;
    font-weight: 600;
    width: 140px;
}
@media(max-width:325px){
    .img{
       width: 60px;
       height: 60px;
    }
    .navbar-nav{
        margin:auto ;
        gap: 20px;
    }
}