<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <img src="../../../assets/images/logo.png" class="img mx-5" alt="">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home &#9985;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/find">Find &#9985;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About &#9985;</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/service">Services &#9985;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog &#9985;</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact &#9985;</a>
        </li>

        <li class="nav-item">
          <button class="btn">Log In</button>
<!-- <app-primarybutton buttonText="Log In" buttonWidth="200px" buttonPx="10px" buttonPy="20px"></app-primarybutton> -->

         </li>
      </ul>
    </div>
  </div>
</nav>