.home-img{
    width: 100%;
    object-fit: cover; 
    border-radius: 30px;
  }

  h3{
    color: #cca876;
  }

 .accordion, .accordion-item{
    border: none;
    background: transparent;
    /* background-color: #0f1c2a; */

 }
 .accordion-item{
    background-color: #0f1c2a;
    color: white;
 }
 .accordion-body{
    margin-top: 16px;
    border-radius: 24px;
 }
.accordion-button:hover{
    background-color:  #cca876;
}
.accordion-button{
    color: aliceblue;
    background-color: #0f1c2a;
    border: #cca876 2px dotted;
    border-radius: 26px;
  }