<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="row">
        <div class="col-lg-12 pb-4">
          <div>
            <img
              class="img-fluid"
              src="https://i.ytimg.com/vi/oVc_MdFcMPs/maxresdefault.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="col-lg-12 pb-4">
          <div>
            <img
              src="https://images.unsplash.com/photo-1503951914875-452162b0f3f1?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="d-block w-100 home-img"
              alt="..."
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 pb-4">
      <img
        class="img-fluid justify-content-center"
        src="https://images.unsplash.com/photo-1556755137-a16b24c5d19a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt=""
      />
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="row">
          <div class="col-lg-12 pb-4">
            <div>
              <img
                class="img-fluid"
                src="https://i.ytimg.com/vi/oVc_MdFcMPs/maxresdefault.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-12 pb-4">
            <div>
              <img
                src="https://images.unsplash.com/photo-1503951914875-452162b0f3f1?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid"
                alt="..."
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 pb-4">
        <div class="row">
            <div class="col-lg-12 pb-4">
                <img
                src="https://images.unsplash.com/photo-1503951914875-452162b0f3f1?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid"
                alt="..."
                alt=""
              />
            </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 pb-4">
        <div class="row">
            <div class="col-lg-12 pb-4">
                <img
                src="https://images.unsplash.com/photo-1556755137-a16b24c5d19a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid"
                alt="..."
                alt=""
              />
            </div>
        </div>
      </div>
  </div>
</div>
