

<!-- <div class="card m-auto" style="width: 14rem;">
    <i class="bi {{icon}} icon"></i>   
    <div class="card-body">
      <h3 class="card-title">{{step}}</h3>
      <h5 class="card-text">{{service}}</h5>
    </div>
  </div> -->

  <div class="card m-auto mb-3">
    <i class="{{icon}} icon"></i>
      <h1 class="card-title">{{count}}</h1>
      <h5 class="card-text">{{title}}</h5>
  </div>
  <!-- <div class="review">
    <div class="review_item">
        <i class="bi bi-person-circle icon"></i>
        <h1 class="card-title">71543</h1>
        <h5 class="card-text">Happy Customers</h5>
    </div>
  </div> -->

