<div class="container-fluid">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="https://images.unsplash.com/photo-1503951914875-452162b0f3f1?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="d-block w-100 home-img"
          alt="..."
        />
        <div class="caption">
          <h1>Your Beauty, Your Way, <br />Your Salon</h1>
          <p class="para">
            Discover a world of personalized beauty at your fingertips. With
            eSalon, it’s all about you. Book your salon appointment effortlessly
            and indulge in a salon experience tailored to your unique style and
            needs.
          </p>
          <!-- <button>Find Parlour</button> -->
          <app-primarybutton
            buttonText="Find Parlor"
            buttonPx="10"
            buttonPy="20"
            buttonWidth="30"
          ></app-primarybutton>
        </div>
        <!-- <h1 class="position-relative zindex-100">Your Beauty, Your Way, Your Salon</h1> -->
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img
          src="https://images.unsplash.com/photo-1556755137-a16b24c5d19a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="d-block w-100 home-img"
          alt="..."
        />
        <div class="caption">
          <h1>Elevate Your Beauty <br />Journey</h1>
          <p>
            Take your beauty journey to new heights with eSalon. We make booking
            your salon appointments a breeze. Experience the power of choice,
            personalization, and convenience.
          </p>
          <button>Find Parlour</button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img
          src="https://images.unsplash.com/photo-1493256338651-d82f7acb2b38?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="d-block w-100 home-img"
          alt="..."
        />
        <div class="caption">
          <h1 class="mainText">Where Beauty Meets Convenience</h1>
          <p>
            Welcome to eSalon, your go-to destination for hassle-free salon
            bookings. Embrace the future of beauty and convenience with our
            platform
          </p>
          <button>Find Parlour</button>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-next carouselbtn"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-prev carouselbtn"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="find">
  <app-search></app-search>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12" *ngFor="let service of data">
      <app-services
        [image]="service.img_url"
        [title]="service.name"
        [name]="service.owner_name"
        [year]="service.experience"
        [description]="service.address"
      >
      </app-services>
    </div>
  </div>
</div>

<div class="container work">
<h3 class="mainText">How It's Work</h3>
<h1 class="Text">Four Steps for Geting an Appointment ✃</h1>
<p class="Text">
  Start your journey by exploring our wide range of salon and parlour services.
  From haircuts to facials, and nails to massages, we have it all.
</p>
</div>
<div class="container d-flex mt-5 justify-content-center">
  <div class="row">
    <div class="col-lg-3 col-sm-6 g-4" *ngFor="let work of data1">
      <app-appointments
        [icon]="work.icon"
        [step]="work.step"
        [service]="work.title"
      >
      </app-appointments>
    </div>
  </div>
</div>


<div class="container">
  <div class="row mt-5">
  <div class="col-lg-6 col-sm-12" *ngFor="let rev of Reviews">
    <app-reviews
    [icon]="rev.icon"
    [count]="rev.count.toString()"
    [title]="rev.title"
    >
  </app-reviews>
  </div>
</div>
</div>
<!-- <div class="container">
<div class="review" *ngFor="let rev of Reviews">
  <app-reviews
  [icon]="rev.icon"
  [count]="rev.count.toString()"
  [title]="rev.title"
  >
</app-reviews>
</div>
</div> -->
<div class="container" style="margin-top: 10rem">
<app-gallery></app-gallery>
</div>

<app-footer></app-footer>
