<div class="container-fluid">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="https://images.unsplash.com/photo-1503951914875-452162b0f3f1?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="d-block w-100 home-img"
          alt="..."
        />
        <div class="caption">
          <h1>Your Beauty, Your Way, <br />Your Salon</h1>
          <p class="para">
            Discover a world of personalized beauty at your fingertips. With
            eSalon, it’s all about you. Book your salon appointment effortlessly
            and indulge in a salon experience tailored to your unique style and
            needs.
          </p>
          <!-- <button>Find Parlour</button> -->
          <app-primarybutton
            buttonText="Find Parlor"
            buttonPx="10"
            buttonPy="20"
            buttonWidth="200"
          ></app-primarybutton>
        </div>
        <!-- <h1 class="position-relative zindex-100">Your Beauty, Your Way, Your Salon</h1> -->
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img
          src="https://images.unsplash.com/photo-1556755137-a16b24c5d19a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="d-block w-100 home-img"
          alt="..."
        />
        <div class="caption">
          <h1>Elevate Your Beauty <br />Journey</h1>
          <p>
            Take your beauty journey to new heights with eSalon. We make booking
            your salon appointments a breeze. Experience the power of choice,
            personalization, and convenience.
          </p>
          <button>Find Parlour</button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img
          src="https://images.unsplash.com/photo-1493256338651-d82f7acb2b38?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="d-block w-100 home-img"
          alt="..."
        />
        <div class="caption">
          <h1 class="mainText">Where Beauty Meets Convenience</h1>
          <p>
            Welcome to eSalon, your go-to destination for hassle-free salon
            bookings. Embrace the future of beauty and convenience with our
            platform
          </p>
          <button>Find Parlour</button>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev carouselbtn"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next carouselbtn"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="find">
  <app-find></app-find>
</div>

<!-- <div class="container d-flex">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <app-services
        image="../../../../assets/images/logo.png"
        title="Glamour Cuts"
        name="Emily Johnson"
        year="10 years"
        description="123 Main St, Los Angeles, California"
      >
      </app-services>
    </div>

    <div class="col-lg-6 col-sm-12">
      <app-services
        image="../../../../assets/images/logo.png"
        title="Style Heaven"
        name="Michael Smith"
        year="8 years"
        description="456 Broadway, New York City, New York"
      >
      </app-services>
    </div>

    <div class="col-lg-6 col-sm-12">
      <app-services
        image="../../../../assets/images/logo.png"
        title="Chic Trends"
        name="Jessica Brown"
        year="5 years"
        description="789 Oak St, Houston, Texas"
      >
      </app-services>
    </div>

    <div class="col-lg-6 col-sm-12">
      <app-services
        image="../../../../assets/images/logo.png"
        title="Elegance Studio"
        name="David Wilson"
        year="12 years"
        description="101 Palm Ave, Miami, Florida"
      >
      </app-services>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-6 col-sm-12" *ngFor="let service of data">
    <app-services
      [image]="service.img_url"
      [title]="service. name"
      [name]="service.owner_name"
      [year]="service.experience"
      [description]="service.address">
    </app-services>
  </div>
</div>

<div class="row d-flex">
<div class="mt-5 col-lg-3 col-sm-6">
  <app-appointments 
  icon="bi bi-scissors"
  step="Step 1"
  service="Haircuts" 
  > 
  </app-appointments>
  </div>

  <div class="mt-5 col-lg-3 col-sm-6">
    <app-appointments 
    icon="bi-scissors"
    step="Step 2"
    service="Hair Coloring" 
    > 
    </app-appointments>
    </div>

    <div class="mt-5 col-lg-3 col-sm-6">
      <app-appointments 
      icon="bi bi-scissors"
      step="Step 3"
      service="Styling" 
      > 
      </app-appointments>
      </div>

      <div class="mt-5 col-lg-3 col-sm-6">
        <app-appointments 
        icon="bi bi-scissors"
        step="Step 4"
        service="Extensions" 
        > 
        </app-appointments>
        </div>
      </div>

