/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: blue; */
}
body{
    background-color: aqua;
}
.mainText{
    color: #CCA876;
}
.Text{
    color: white;
}
::-webkit-scrollbar{
    width: 0.8rem;
}
::-webkit-scrollbar-track{
    background: #0f1c2a;
    border: 1px solid #CCA876;

   
}
::-webkit-scrollbar-thumb{
    background-color: #CCA876 ;
    border-radius: 26px;
    width: 100%;
}